{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Log in' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Log in' %}</button>

    </form>

    <hr>

{#    <ul>#}
{#        <li>#}
{#            <a href="{% url 'restore_password' %}">{% trans 'Forgot your password?' %}</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'remind_username' %}">{% trans 'Forgot your username?' %}</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>#}
{#        </li>#}
{#    </ul>#}

{% endblock %}
